<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="pricing.css" rel="stylesheet">
    <title>Spring REST Controller Generator</title>
</head>
<body>
<div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">JustGenerateIt</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="#">Features</a>
            <!-- <a class="p-2 text-dark" href="#">Enterprise</a>-->
            <a class="p-2 text-dark" href="#">Contribute</a>
            <!--<a class="p-2 text-dark" href="#">Pricing</a>-->
        </nav>
        <a class="btn btn-outline-primary" href="#">Sign up</a>
    </div>
    <form action="just-generate-it" method="post">
        <div class="form-group row">
            <label for="modelClasses" class="col-sm-2 col-form-label">Model Classes</label>
            <div class="col-sm-10">
                <input type="text" name="modelClasses" class="form-control" id="modelClasses" placeholder="Item, Product, User">
                <small id="modelClassesHelpBlock" class="form-text text-muted">
                    You can enter comma separated model class names.
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label for="serviceClasses" class="col-sm-2 col-form-label">Service Classes</label>
            <div class="col-sm-10">
                <input type="text" name="serviceClasses" class="form-control" id="serviceClasses"
                       placeholder="ItemService, ProductService, UserService">
                <small id="serviceClassesHelpBlock" class="form-text text-muted">
                    You can enter comma separated service class names.
                </small>
            </div>
        </div>
        <!--
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                        <label class="form-check-label" for="gridRadios1">
                            First radio
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">
                            Second radio
                        </label>
                    </div>
                    <div class="form-check disabled">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
                        <label class="form-check-label" for="gridRadios3">
                            Third disabled radio
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        -->

        <div class="form-group row">
            <div class="col-sm-2">Rest API Methods</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="restAPIMethods" checked>
                    <label class="form-check-label" for="restAPIMethods">
                        Create Resource
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="restAPIMethods">
                    <label class="form-check-label" for="restAPIMethods">
                        Read Resource
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="restAPIMethods">
                    <label class="form-check-label" for="restAPIMethods">
                        Update Resource
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="restAPIMethods">
                    <label class="form-check-label" for="restAPIMethods">
                        Delete Resource
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 pull-right">
                <button type="submit" class="btn btn-primary">Just Generate It!</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>