<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring REST Controller Generator</title>
</head>
<body>
<div class="container">

    <form class="form-inline">
       <div class="form-group mx-sm-3 mb-2">
            <label for="modelLocation" class="sr-only">Model Location</label>
            <input type="password" name="modelLocation" class="form-control" id="modelLocation" placeholder="C:/example-project/src/main/java/com/">
        </div>
        <input type="submit" class="btn btn-primary mb-2">Submit</input>
    </form>

</div>
</body>
</html>